---
const { title, url } = Astro.props;
const fontWeight = "bold";
---

<style define:vars={{fontWeight}}>
  .post {
    font-weight: var(--fontWeight);
  }
</style>

<li><a class="post" href={url}>{title}</a></li>
